.git
.gitignore
.github/


**/venv
.venv/
env/
env.bak/
venv.bak/
src/bot/venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/
.mypy_cache/
mypy_cache/


Dockerfile.dev
*notes.txt

*.log
src/bot/logs
**/logs
**logs
.coverage
htmlcov/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

**/backups

**__pycache__
**logs

backups/
*.db
*.sqlite
*.sqlite3

**discord_bot-egg-info

README.md
*.md
docs/

alloy/alloy.conf  # Optional, if not needed in container


.vscode/
.idea/


__pypackages__/
build/
dist/
**/*.egg-info/