
__pycache__/
*.py[cod]
*$py.class

notes.txt
venv/
env/
ENV/
.venv/
.pipenv/


.vscode/


backups/
backups/daily/
/daily

*.spec
dist/
build/

Dockerfile.dev
deployments/

Pipfile.lock

poetry.lock

init.sql

.mypy_cache/
.dmypy.json
dmypy.json


.pyre/

triggers

words.txt

pyrightconfig.json


.cache/
.pytest_cache/


*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/__pycache__/
*/migrations/*.sqlite3
*.egg-info/

htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

*.log
logs/
log/

**/discord_bot.egg-info/
.env
.env.*


.DS_Store
Thumbs.db


.idea/
*.sublime-project
*.sublime-workspace


.ipynb_checkpoints


*.pid
*.pid.lock
docker-compose.override.yml


config.json
secrets.json
token.txt
